{% extends 'templates/base.njk' %}

{% block body %}
  {% if mine %}
    <p>This is a {{ mine }}</p>
  {% else %}
    <p>This is just a page</p>
    <p>Here is yet even more</p>
    <p>OK it live re-loaded!</p>
  {% endif %}
{% endblock %}
